* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    max-width: 100vw;
    font-family: Anta;
}
p {
    font-size: 1rem;

}
h1 {
    font-size: 2rem;
    font-weight: 700;
}
main {
    margin: auto;
    
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4.54444px 4.54444px rgb(200, 212, 200);
}
.header-logo {
    background-image: url(/asset/logo/cyber-security-logo.png);
    width: 100%;
    height: 100%;  
}

a.link-header, a:link a:visited  {
    margin: 0px 20px;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(211, 68, 37);
}

a:hover {
    color: rgb(72, 217, 202);
}
/*********************** season 1*************************************/
.season1 {
    background-image: url(/asset/image/93472.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 1200px;
    background-size: cover;
    align-items: center;
}
.container-text-area {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: center;
    align-items: center;

}










/* ************************************************************** */
@media (max-width: 880px) {
    .header-menu {
        flex-wrap: nowrap;
        font-size: .75rem;
    }

}