* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Play;
}
body {

    height: 100vh;
}
.interface1 {
    max-width: 1280px;
    margin: 0 auto;

}
header  {
    padding: 20px 4%;
}

header > .interface1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(30, 157, 120);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    
}
header a:hover {
    color: rgb(69, 255, 190);
    transform: scale(1.05);
}
header nav ul {
    list-style-type: none;

}

header nav ul li {
    display: inline-block;
    padding: 0 20px;

}
section.season-page {
    background-image: url(/asset/image/93190.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 90vh;
    color:  rgb(30, 157, 120);
}
.season-page .interface1 {
    display: flex;
    align-items: center;
    height: 100%;


    
}
.season-page .interface1 p {
    display: block;
    max-width: 40%;
    font-weight: 800;
    font-size: 1.3rem;

}
.season-page .interface1 h1 {
    display: block;
    max-width: 40%;
    font-size: 2rem;
}
.text-season1 {
    gap: 15px;
    display: grid;
}
.button-main {
    cursor: pointer;
    border-radius: 12px;
    padding: 10px;
    
}